### Import thư viện

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from lib.utils import read_all_file
import os

### Đọc dữ liệu sharers

Tất cả dữ liệu về các người đã share bài post lưu trong file csv bắt đầu với chuỗi 'sharers_'

In [10]:
num_file, sharer_df = read_all_file(
    folder_path=os.path.join('data', 'vebay69', 'raw'),
    prefix = 'sharers_',
    suffix = '.csv',
)
num_file

29

In [11]:
sharer_df.head()

,name,link,post_id
0,Trong Huy Bui,https://facebook.com/profile.php?id=1000895265...,617018593866682
1,Long Dinh,https://facebook.com/profile.php?id=1000571749...,617018593866682
2,Subhajit Das Subhajit,https://facebook.com/subhajitdas.subhajit.7?ea...,617018593866682
3,Kiều Minh Thu,https://facebook.com/profile.php?id=1000918233...,617018593866682
4,Anh Khoa La,https://facebook.com/profile.php?id=1000901434...,617018593866682

In [12]:
sharer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18942 entries, 0 to 18941
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     18942 non-null  object
 1   link     18942 non-null  object
 2   post_id  18942 non-null  int64
dtypes: int64(1), object(2)
memory usage: 444.1+ KB

### Kiểm tra sự mất mát dữ liệu

In [13]:
missing_data = []
percentage_data = []

for i in sharer_df.columns:
    missing_count = sharer_df[i].isnull().sum()
    percentage = missing_count / len(sharer_df) * 100
    missing_data.append(missing_count)
    percentage_data.append(percentage)

data = {'Columns': sharer_df.columns, 'Missing Data': missing_data, 'Missing Percentage': percentage_data}
df_summary = pd.DataFrame(data)
df_summary['Missing Percentage'] = df_summary['Missing Percentage'].round(2)
df_summary

   Columns  Missing Data  Missing Percentage
0     name             0                 0.0
1     link             0                 0.0
2  post_id             0                 0.0

### Tách id facebook của mỗi người

In [14]:
sharer_df['sharer_id'] = sharer_df['link'].str.replace("profile.php?id=", "")
sharer_df['sharer_id'] = sharer_df['sharer_id'].str.replace("https://facebook.com/", "")
sharer_df['sharer_id'] = sharer_df['sharer_id'].str.extract('^([^&]*)')
sharer_df['sharer_id'] = sharer_df['sharer_id'].str.extract('^([^?]*)')

In [15]:
sharer_df.head(10)

,name,link,post_id,sharer_id
0,Trong Huy Bui,https://facebook.com/profile.php?id=1000895265...,617018593866682,100089526577350
1,Long Dinh,https://facebook.com/profile.php?id=1000571749...,617018593866682,100057174918557
2,Subhajit Das Subhajit,https://facebook.com/subhajitdas.subhajit.7?ea...,617018593866682,subhajitdas.subhajit.7
3,Kiều Minh Thu,https://facebook.com/profile.php?id=1000918233...,617018593866682,100091823392743
4,Anh Khoa La,https://facebook.com/profile.php?id=1000901434...,617018593866682,100090143478442
5,Lương Hương Thủy,https://facebook.com/profile.php?id=1000905688...,617018593866682,100090568827447
6,Chí Kiên Mai,https://facebook.com/profile.php?id=1000906553...,617018593866682,100090655373442
7,Sầm Huy Chiểu,https://facebook.com/profile.php?id=1000922794...,617018593866682,100092279495789
8,Pé Thỏ 🐰,https://facebook.com/meii2700?eav=AfbhFrtLoFsY...,617018593866682,meii2700
9,Bích Ngọc,https://facebook.com/profile.php?id=1000057729...,617018593866682,100005772996269

### Lưu dữ liệu

In [16]:
sharer_df.to_csv(os.path.join('data', 'vebay69', 'clean', 'sharers_full.csv'), index=False)